.center-menu {
    width: 100%;
    max-width: 430px;
    margin: auto;
}

.mt-6 {
    margin-top: 3em;
}

.mt-5 {
    margin-top: 2em;
}

.mt-4 {
    margin-top: 1.5em;
}

.mb-2 {
    margin-bottom: 1em !important;
}

.d-block {
    display: block;
}

.monospace {
    font-family: monospace, monospace;
    font-size: 1.1rem;
}