<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>PIS projekt</title>
</head>
<body>
<p><%= message %></p>
<%if (success) { %>
    <p>Vaše novo vygenerovné heslo: <b><%= password %></b></p>
<% } %>
<a href="/">Späť na prihlásenie</a>
</body>
</html>